.pics-page {
    height: 1000px;
    width: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3bh5QpF7cELSHmOiCQa7D-w9buYGWwpYKysAf1tqnQE5ZXOwkBw);
    

}

.pics-header {
    height: 200px;
    width: 100%;
    background-color: #941E1E;
    margin-top: -25px;
}