.profile-page {
  height: 980px;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 42px;
  background-image: url('http://cdn.wallpapersafari.com/17/78/qF3tCd.jpg');
  background-size: cover; 
//   background-color: #337ab7;
  text-align: center;
  color: white;

}

.profile-pic {
    width: 100%;
    height: 290px;
    background-image: url(http://www.crossfitnp.cz/sites/default/files/images/cinka.png);
    background-size: cover;

}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 0px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-size: 30px;
    background: rgba(255, 255,255, 0.7);
   
}

.links {
    display: flex;
    justify-content: space-around;//center
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    background: #337ab7;
    border: 1px solid black;
}

.circle1 {
    height: 250px;
    width: 250px;
    // border-radius: 50%;
    background-image: url(http://icons.iconarchive.com/icons/icons8/ios7/128/Sports-Dumbbell-icon.png);
    background-size: cover;
    // background-color: #337ab7;

}

.start-workout{
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    background: #337ab7;
    border: 1px solid black;
}

.circle2 {
    height: 250px;
    width: 250px;
    // border-radius: 50%;
    background-image: url(https://www.shareicon.net/download/2016/09/01/822140_measure_512x512.png);
    background-size: cover;
}

.update-measurements {
    font-size: 20px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    background: #337ab7;
    border: 1px solid black;
}

.circle3 {
    height: 250px;
    width: 250px;
    // border-radius: 50%;
    background-image: url(https://goshiart.files.wordpress.com/2014/10/camera-logo-512.png?w=300);
    background-size: cover;
}

.add-pic {
    font-size: 20px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}


// .box4 {
//     height: 400px;
//     width: 400px;
//     background: lightgray;
//     // margin-top: 40px;

// }

.recent-activity {
    height: 700px;
    width: 1200px;
    background: #707070;
    margin-top: 100px;
    border: 1px solid black;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

