body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@import './util/_variables.scss';
@import '../../src/App.scss';
@import '../../src/Home.scss';
@import '../../src/Profile.scss';
@import '../../src/Meals.scss';
@import '../../src/Results.scss';
@import '../../src/Workouts.scss';
@import '../../src/Measurements.scss';
@import '../../src/WeightExercise.scss';
@import './util/bootstrap/dist/css/bootstrap.css';
@import '../../src/CardioExercise.scss';
@import '../../src/Category.scss';

